{% extends 'attendance/base.html' %}

{% block title %}Ваши Секции{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Ваши секции</h1>
    <div class="row mt-4">
        {% for section_time in section_times %}
        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ section_time.section.name }}</h5>
                    <p class="card-text">Время: {{ section_time.start_time }} - {{ section_time.end_time }}</p>
                    <a href="{% url 'scan_qr_page' section_time.id %}" class="btn btn-primary">Сканировать QR</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
